.button-nor{
    padding: 0 50px;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 3;
    background-color: white;
}

.active{
    padding-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.3s;
    opacity: 1;
    font-weight: 700;
}