.edit-container {
  max-height: 70vh;
  overflow-y: auto;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 30px;
}

.edit-title {
  text-align: center;
  margin-bottom: 10px;
}

.edit-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.edit-image {
  margin-right: 20px;
  position: relative;
}

.edit-placeholder {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-info {
  display: flex;
  flex-direction: column;
}

.edit-info .info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.edit-info .info-label {
  width: 100px;
  font-weight: bold;
}

.edit-info .info-value {
  flex: 1;
}

.input-field {
  margin-bottom: 10px;
  width: 100%;
}

.edit-details {
  margin-bottom: 20px;
  margin-top: 20px;
}

.role-group-edit, .store-select-edit {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
}

.edit-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  width: 100%;
}


.input-large {
  width: 400px;
}
