.employee-list-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-height: 70vh;
  overflow-y: auto;
}

.employee-list-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.add-employee-list-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.employee-list-search-input {
  padding: 8px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s ease;
  width: 20%;
}

.employee-list-search-input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.employee-list-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-list-table th, .employee-list-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.employee-list-view-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.employee-list-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.employee-list-status.online {
  background-color: green;
}

.employee-list-status.offline {
  background-color: gray;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pagination button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  margin: 0 5px;
  padding: 6px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 768px) {
  .employee-list-search-input {
    width: calc(50% - 10px); 
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px; 
    font-size: 14px; 
  }
  add-employee-list-button {
    width: calc(100% - 10px); 
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px; 
    font-size: 10px; 
  }

  .employee-list-search-input {
    margin-right: 0px;
  }

  .employee-list-table thead {
    display: none;
  }

  .employee-list-table, .employee-list-table tbody, .employee-list-table tr, .employee-list-table td {
    display: block;
    width: 100%;
  }

  .employee-list-table tr {
    margin-bottom: 15px;
  }

  .employee-list-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .employee-list-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: calc(50% - 30px);
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
}

@media only screen and (max-width: 480px) {
  .add-employee-list-button, .employee-list-search-input {
    width: calc(50% - 10px); 
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px; 
    font-size: 12px; 
  }

  .employee-list-search-input {
    margin-right: 10px;
  }

  .pagination {
    justify-content: center;
  }
}
