.home-gold-scan-button {
  background-color: #00ca4d; /* Màu xanh lá cho nút Scan QR Code */
  color: white;
  border: none;
  padding: 3px 10px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-gold-scan-button:hover {
  background-color: #218838; /* Màu xanh lá đậm hơn khi hover */
}

/* Các kiểu hiện có */
.home-gold-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  overflow-y: auto;
}

.home-gold-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 10px; 
}

.home-gold-filter select,
.home-gold-filter .home-gold-search-input-gold {
  display: flex;
  align-items: center;
  padding: 3px;
  border: solid black 1px;
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
}

.home-gold-filter .home-gold-search-input-gold textarea {
  border: none;
  outline: none;
  margin-left: 8px;
  font-size: 16px;
  flex: 1;
  resize: none;
}

.home-gold-filter .home-gold-search-input-gold svg {
  flex-shrink: 0;
}

.home-gold--container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  max-height: 70vh; 
  overflow-y: auto; 
}

.home-gold-card-container {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 200px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.home-gold-card-container .home-gold-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}
.page-item {
  margin: 0 5px;
}

.home-gold-card-container:hover .home-gold-overlay {
  opacity: 1;
}

.home-gold-overlay-button {
  background: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-gold-overlay-button:hover {
  background-color: #ddd;
}

/* Pagination Styles */
.home-gold-pagination-container {
  display: flex;
  justify-content: flex-end; /* Căn chỉnh sang phải */
  margin: 30px 0;
  width: 100%;
}

.home-gold-pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.home-gold-page-item {
  margin: 0 5px;
}

.home-gold-page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.home-gold-active .home-gold-page-link {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.home-gold-disabled .home-gold-page-link {
  color: #ccc;
  cursor: not-allowed;
}

/* Modal Styles */
.custom-modal-gold .ant-modal-content {
  border-radius: 10px;
  text-align: center;
  height: 310px;
}

.custom-modal-gold  .ant-modal-header {
  border-bottom: none;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
}

.custom-modal-gold  .ant-modal-title {
  font-size: 30px;
}

.custom-modal-gold  .ant-modal-body {
  padding: 16px;
  font-size: 16px;
}

.custom-modal-gold  .ant-modal-footer {
  display: none;
}

.notice__content {}

.notice__content h1 {
  font-size: 24px;
  margin-top: 20px;
}

.check__icon {
  color: #22c37d;
  font-size: 80px;
}

.error__icon {
  color: #e60a0a;
  font-size: 80px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .home-gold-filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-gold-filter .home-gold-search-input-gold {
    width: 100%;
    max-width: 100%;
  }

  .home-gold-filter select {
    width: 100%;
    margin: 5px 0;
  }

  .home-gold-card-container {
    flex: 1 1 calc(50% - 20px); /* 2 sản phẩm trên mỗi hàng */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .home-gold-filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-gold-filter select {
    width: 100%;
    margin: 5px 0;
  }

  .home-gold-filter .home-gold-search-input-gold {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .home-gold-filter {
    flex-direction: column;
    align-items: center;
  }

  .home-gold-filter select,
  .home-gold-filter .home-gold-search-input-gold {
    width: 100%;
    margin: 5px 0;
  }

  .home-gold-card-container {
    flex: 1 1 100%; /* 1 sản phẩm trên mỗi hàng */
    max-width: 100%;
  }
}
