body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-height: 70vh;
  overflow-y: auto;
  width: 70%;
  margin: auto;
  overflow: hidden;
  margin-top: 15px;
}

.header {
  position: relative;
  background: #333;
  color: #fff;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #0779e4 3px solid;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 3px;
}

.policies {
  padding: 20px;
  background: #fff;
}

.policy {
  margin-bottom: 20px;
}

.policy h2 {
  color: #000;
  font-weight: bold;
}

.policy p {
  line-height: 1.6;
}


