body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
}

.invoice-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.invoice-title {
    text-align: center;
    margin-bottom: 20px;
}

.invoice-title h1 {
    font-size: 36px;
    color: #0044cc;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #0044cc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.seller-info, .invoice-info {
    width: 48%;
}

.seller-info p, .invoice-info p {
    margin: 5px 0;
    color: #333;
}

.invoice-info {
    text-align: right;
}

.invoice-info p {
    margin: 10px 0;
}

.buyer-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #305fbd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.buyer-info p {
    margin: 5px 0;
    color: #333;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    color: #333;
}

.invoice-table th {
    background-color: #0044cc;
    color: #ffffff;
}

.invoice-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total-section, .amount-in-words, .sign-section {
    margin-bottom: 20px;
}

.total-section p, .amount-in-words p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.sign-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sign-box {
    width: 45%;
    text-align: center;
}

.sign-box p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.sign-space {
    height: 50px;
    border-bottom: 1px solid #333;
    margin-top: 20px;
}

.footer {
    border-top: 2px solid #0044cc;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #777;
}
