.dashboard-container {
  overflow-y: auto;
  padding: 20px;
  background-color: #20232a;
  max-height: 80vh;
  color: #ffffff;
}

.stat-row {
  margin-bottom: 10px;
}

.stat-card {
  color: #ffffff;
  font-weight: bold;
}

.orders-sold-card {
  background-color: #0088FE;
}

.repeat-orders-card {
  background-color: #00C49F;
}

.top-employee-card {
  background-color: #FFBB28;
}

.diamond-sold-card {
  background-color: #FF8042;
}

.gold-sold-card {
  background-color: #A569BD;
}

.jewelry-sold-card {
  background-color: #ba2500;
}

.ant-card-head-title, .ant-statistic-title {
  color: #ffffff;
  font-weight: bold;
}

.ant-statistic-content {
  color: #ffffff;
  font-weight: bold;
}

.chart-container {
  background-color: #282c34;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chart-content {
  display: flex;
  align-items: center;
}

.chart-description {
  margin-left: 20px;
  color: #ffffff;
}

.pie-chart {
  width: 50%;
}

.chart-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
}

.traffic-chart {
  width: 50%;
}
