.profile-container {
  overflow-y: auto;
  max-width: 1500px;
  margin: 0 auto;
  padding: 5px;
  background-color: #e9e9e9;
  border-radius: 8px;
  max-height: 500px;
}

.profile-title {
  text-align: center;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.profile-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  margin-right: 20px;
  position: relative;
}

.profile-image img:hover{
  opacity: 0.6;
}

.profile-placeholder {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  flex: 1;
}

.input-field {
  margin-bottom: 10px;
  width: 100%;
}

.profile-details {
  margin-bottom: 20px;
  margin-top: 20px;
}

.work-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-info-item {
  flex: 1;
  margin-right: 10px;
}

.work-info-item h3 {
  margin-bottom: 5px;
}

.work-info-item:last-child {
  margin-right: 0;
}

.profile-actions {
  display: flex;
  justify-content: space-between;

}

.nav-button {
  width: 100%;
}

.modal__avatar{
  padding: 0;
}

.modal__avatar .ant-modal-content{
  position: absolute;
  height: 100px;
  width: 200px;
  top: 20px;
  left: -90px;
  padding: 6px 6px 10px 6px;
}

.modal__content{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
}

.modal__content:hover{
  background-color: #000;
  cursor: pointer;
  color: #fff;
}

.change__avatar__modal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
}
