/* General Styles */
.diamond-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
    gap: 10px;
  }
  
  .filter select {
    margin-left: 10px;
    border: solid 1px;
    border-radius: 10px;
    padding: 2px;
    flex: 1;
  }
  
  .filter .search__input_diamond {
    display: flex;
    align-items: center;
    padding: 6px;
    border: solid black 1px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
  }
  
  .filter .search__input_diamond textarea {
    border: none;
    outline: none;
    margin-left: 8px;
    font-size: 16px;
    flex: 1;
    resize: none;
  }
  
  .filter .search__input_diamond svg {
    flex-shrink: 0;
  }
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .active .page-link {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
  
  .disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .filter {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .filter .search__input_diamond {
      width: 100%;
      max-width: 100%;
    }
  
    .filter select {
      width: 100%;
      margin: 5px 0;
    }
  }
  
  @media (max-width: 768px) {
    .filter {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .filter select,
    .filter .search__input_diamond {
      width: 100%;
      margin: 5px 0;
    }
  
    .product-card-container {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .filter {
      flex-direction: column;
      align-items: center;
    }
  
    .filter select,
    .filter .search__input_diamond {
      width: 100%;
      margin: 5px 0;
    }
  
    .product-card-container {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  
  /* New Responsive Grid Layout */
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px 20px 0 20px;
  }
  
  @media (max-width: 1024px) {
    .product-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 768px) {
    .product-container {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .product-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
  
  /* No Products Message Styles */
  .no-products-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    text-align: center;
  }
  
  .no-products-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Modal Styles */
  .custom-modal .ant-modal-content {
    border-radius: 10px;
    text-align: center;
    height: 310px;
  }
  
  .custom-modal .ant-modal-header {
    border-bottom: none;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .custom-modal .ant-modal-title {
    font-size: 30px;
  }
  
  .custom-modal .ant-modal-body {
    padding: 16px;
    font-size: 16px;
  }
  
  .custom-modal .ant-modal-footer {
    display: none;
  }
  
  .notice__content {}
  
  .notice__content h1 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .check__icon {
    color: #22c37d;
    font-size: 80px;
  }
  
  .error__icon {
    color: #e60a0a;
    font-size: 80px;
  }
  