.material-container {
    max-height: 70vh;
    overflow-y: auto;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 10000px;
    overflow: auto;
}

.material-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #001f3f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.material-table-container {
    overflow-x: auto;
}

.material-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
}

.material-table th, .material-table td {
    padding: 12px 15px;
    border: 2px solid #ddd;
    text-align: left;
}

.material-table th {
    background-color: #6AC4EA;
    color: white;
}

.material-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.material-table tr:hover {
    background-color: #ddd;
}

.material-table button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.material-table button:hover {
    background-color: #0056b3;
}
.material-paginationContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .material-pagination {
    display: flex;
    list-style: none;
    gap: 5px;
  }

.material-modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.material-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    width: 600px;
    max-height: 80%;
    overflow-y: auto;
  }

.material-modal-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.material-modal-label {
    font-size: 14px;
    font-weight: bold;
}

.material-modal-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.material-modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.material-modal-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.material-modal-button-save {
    background-color: #00ca4d;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.material-modal-button-create {
    background-color: #00ca4d;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
.material-modal-button-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.material-modal-button-delete:hover {
    background-color: darkred;
}

.material-modal-button:hover {
    background-color: #0056b3;
}

.material-modal-button.cancel {
    background-color: #6c757d;
}

.material-modal-button.cancel:hover {
    background-color: #5a6268;
}

