
.customer__info{

}

.customer__info label{
    display: block;
    margin: 10px 30px 3%;
}

.customer__info select,
.customer__info input{
    padding: 4px;
    border-radius: 10px;
    border: solid 2px;
}
.CashierOrderDetail{
    overflow-y: auto;
    max-height: 70vh;
}