
.title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 0px 0 6px 0;
}

.line {
    background-color: black;
    width: 96%;
    height: 1px;
    margin-left: 22px;
}

.search-input {
    margin-bottom: 10px;
    width: 250px;
}

.table-container {
    margin: 10px 70px;
}

.action-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.custom__pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .table-container {
        margin: 10px 20px;
    }

    .search-input {
        width: calc(50% - 10px); 
        display: inline-block;
        margin-bottom: 10px;
        padding: 2px; 
        font-size: 14px; 
    }

    .action-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .action-buttons button {
        margin-bottom: 5px;
    }

    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: calc(50% - 30px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}

@media only screen and (max-width: 480px) {
    .search-input {
        width: calc(50% - 10px); 
        display: inline-block;
        margin-bottom: 10px;
        padding: 5px; 
        font-size: 12px; 
    }

    .pagination {
        justify-content: center;
    }

    .action-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .action-buttons button {
        margin-bottom: 5px;
    }
}
