.sell-order-container {
    padding: 5px;
    font-family: Arial, sans-serif;
    max-height: 70vh;
    overflow-y: auto;
}

.sell-order-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #001f3f; /* Màu chữ đậm */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Hiệu ứng đổ bóng */
}

.sell-order-search-input {
    padding: 3px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s ease;
    width: 100%; 
    max-width: 300px;
}

.sell-order-search-input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sell-order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;

}

.sell-order-table th,
.sell-order-table td {
    padding: 6px 16px;
    border: 2px solid #ddd;
}

.sell-order-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.sell-order-table td {
    text-align: left;
}

.pagination-container-cashier-order{
    display: flex;
    justify-content: flex-end; 
    margin: auto;
    width: 100%;
  }

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 6px 14px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #ddd;
}

.page-link.active {
    background-color: black;
    color: white;
}
.action-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.action-buttons > * {
    margin-bottom: 10px; /* Khoảng cách dưới giữa các nút */
}
.custom-modal-list .ant-modal-content {
    border-radius: 10px;
    text-align: center;
    height: 250px;
  }
  
  .custom-modal-list  .ant-modal-header {
    border-bottom: none;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .custom-modal-list  .ant-modal-title {
    font-size: 30px;
  }
  
  .custom-modal-list  .ant-modal-body {
    padding: 40px;
    font-size: 20px;
  }
  
  .custom-modal-list  .ant-modal-footer {
    display: none;
  }
@media only screen and (max-width: 1024px) {
    .sell-order-container {
        padding: 5px;
        font-family: Arial, sans-serif;
        max-height: 50vh;
        overflow-y: auto;
    }
    .sell-order-search-input {
        padding: 6px;
        margin-bottom: 20px;
        border: 2px solid black;
        border-radius: 5px;
        outline: none;
        transition: box-shadow 0.3s ease;
        width: 100%; /* Điều chỉnh độ rộng cho ô input */
        margin-top: 10px;
    }

    .sell-order-table thead {
        display: none;
        font-size: 10px;
    }

    .sell-order-table,
    .sell-order-table tbody,
    .sell-order-table tr,
    .sell-order-table td {
        display: block;
        width: 100%;
        font-size: 14px;
    }

    .sell-order-table tr {
        margin-bottom: 15px;
    }

    .sell-order-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .sell-order-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: calc(50% - 30px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }

    .pagination-container {
        justify-content: center;
    }

    .action-buttons {
        flex-direction: column; /* Sắp xếp theo cột khi responsive */
        align-items: flex-start; 
    }

    .action-buttons > * {
        width: 100%; /* Chiều rộng 100% cho từng nút */
        margin-right: 0; /* Bỏ khoảng cách phải giữa các nút */
        margin-bottom: 2px; /* Khoảng cách dưới giữa các nút khi responsive */
    }
}

@media only screen and (max-width: 480px) {
    .sell-order-container {
        padding: 5px;
        font-family: Arial, sans-serif;
        max-height: 50vh;
        overflow-y: auto;
    }
    .sell-order-search-input {
        width: calc(100% - 0px);
        margin-bottom: 10px;
        padding: 5px;
        font-size: 12px;
    }

    .pagination-container {
        justify-content: center;
    }
    .page-link{
        font-size: 12px;
        padding: 5px;
    }
}
