.customer-container {
  max-height: 70vh;
  overflow-y: auto;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  max-width: 900px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.customer-header {
  background-color: #E46A25;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.customer-searchBar {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.customer-tableContainer {
  overflow-x: auto;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
}

.customer-th, .customer-td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.customer-th {
  background-color: #f2f2f2;
}

.customer-rowEven {
  background-color: #f9f9f9;
}

.customer-rowOdd {
  background-color: #fff;
}

.customer-paginationContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.customer-pagination {
  display: flex;
  list-style: none;
  gap: 5px;
}

.customer-page-item {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.customer-page-link {
  text-decoration: none;
  color: #007bff;
}

.customer-active {
  font-weight: bold;
  border-bottom: 3px solid #007bff;
}

.customer-disabled {
  cursor: not-allowed;
  color: #ccc;
}

.customer-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 600px;
  max-height: 80%;
  overflow-y: auto;
}

.customer-modal-content {
  position: relative;
  padding: 20px;
}

.customer-modal-content h2 {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.customer-edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.customer-edit-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer-edit-form label input {
  flex: 1;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.customer-modal button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.customer-modal button:hover {
  background-color: #218838;
}

.customer-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

.customer-modal-close:hover {
  color: #000;
}


.customer-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

.customer-modal-close:hover {
  color: #000;
}

.customer-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media only screen and (max-width: 1024px) {
  .customer-header {
      font-size: 20px;
      padding: 7px;
  }

  .customer-th, .customer-td {
      font-size: 14px;
      padding: 10px;
  }

  /* Responsive table styles */
  .customer-table thead {
      display: none;
  }

  .customer-table,
  .customer-table tbody,
  .customer-table tr,
  .customer-table td {
      display: block;
      width: 100%;
      font-size: 14px;
  }

  .customer-table tr {
      margin-bottom: 20px;
  }

  .customer-table td {
      text-align: right;
      padding-left: 50%;
      position: relative;
  }

  .customer-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 15px;
      width: calc(50% - 30px);
      padding-right: 10px;
      text-align: left;
      font-weight: bold;
  }

  .customer-paginationContainer {
      justify-content: center;
      margin-top: 10px;
      display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .customer-header {
      font-size: 18px;
      padding: 6px;
  }

  .customer-th, .customer-td {
      font-size: 12px;
      padding: 8px;
  }
}
