
.home-jewelry-page {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  overflow-y: auto;
}

.home-jewelry-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  gap: 10px; 
}

.home-jewelry-filter select,


.home-jewelry-filter .home-jewelry-search-input-jewelry {
  display: flex;
  align-items: center;
  padding: 3px;
  border: solid black 1px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  max-height: 30px;
}

.home-jewelry-filter .home-jewelry-search-input-jewelry textarea {
  border: none;
  outline: none;
  margin-left: 8px;
  font-size: 16px;
  flex: 1;
  resize: none;
}

.home-jewelry-filter .home-jewelry-search-input-jewelry svg {
  flex-shrink: 0;
}


.home-jewelry-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  max-height: 70vh; 
  overflow-y: auto; 
  margin-top: 20px;
}

.home-jewelry-card-container {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 200px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}


.home-jewelry-card-container .home-jewelry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.home-jewelry-card-container:hover .home-jewelry-overlay {
  opacity: 1;
}

.home-jewelry-overlay-button {
  background: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-jewelry-overlay-button:hover {
  background-color: #ddd;
}

.home-jewelry-custom-modal .ant-modal-content {
  border-radius: 10px;
  text-align: center;
  height: 310px;
}

.home-jewelry-custom-modal .ant-modal-header {
  border-bottom: none;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
}

.home-jewelry-custom-modal .ant-modal-title {
  font-size: 30px;
}

.home-jewelry-custom-modal .ant-modal-body {
  padding: 16px;
  font-size: 16px;
}

.home-jewelry-custom-modal .ant-modal-footer {
  display: none;
}

.home-jewelry-notice-content {}

.home-jewelry-notice-content h1 {
  font-size: 24px;
  margin-top: 20px;
}

.home-jewelry-check-icon {
  color: #22c37d;
  font-size: 80px;
}

.home-jewelry-error-icon {
  color: #e60a0a;
  font-size: 80px;
}

.home-jewelry-custom-modal{
  width: 800px;
}

.home-jewelry-size-button{
  width: 100%;
}
.home-jewelry-pagination-container {
  display: flex;
  justify-content: flex-end; 
  margin: 70px 0px 0px 0px;
  width: 100%;
}

.home-jewelry-pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.home-jewelry-page-item {
  margin: 0 5px;
}

.home-jewelry-page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.home-jewelry-active .home-jewelry-page-link {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.home-jewelry-disabled .home-jewelry-page-link {
  color: #ccc;
  cursor: not-allowed;
}
.home-jewelry-scan-button {
  background-color: #00ca4d; /* Màu xanh lá cho nút Scan QR Code */
  color: white;
  border: none;
  padding: 3px 20px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-jewelry-scan-button:hover {
  background-color: #218838; /* Màu xanh lá đậm hơn khi hover */
}


/* Sửa đổi cho Tablet */
@media (max-width: 768px) {
  .home-jewelry-filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-jewelry-filter .home-jewelry-search-input-jewelry {
    width: 100%;
    max-width: 100%;
  }

  .home-jewelry-filter select {
    width: 100%;
    margin: 5px 0;
  }

  .home-jewelry-card-container {
    flex: 1 1 calc(50% - 20px); /* Cập nhật để có 2 hàng sản phẩm */
    max-width: calc(50% - 20px); /* Cập nhật để có 2 hàng sản phẩm */
  }
}

/* Sửa đổi cho Mobile */
@media (max-width: 480px) {
  .home-jewelry-filter {
    flex-direction: column;
    align-items: center;
  }

  .home-jewelry-filter select,
  .home-jewelry-filter .home-jewelry-search-input-jewelry {
    width: 100%;
    margin: 5px 0;
  }

  .home-jewelry-card-container {
    flex: 1 1 100%; /* Cập nhật để có 1 hàng sản phẩm */
    max-width: 100%; /* Cập nhật để có 1 hàng sản phẩm */
  }
}
