.gold-container {
  margin: 30px 20px 20px 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-height: 70vh;
  overflow-y: auto;
  background-color: #fffde5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gold-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 20px;
}

.gold-title {
  margin: auto;
  font-size: 25px;
  color: #000000;
}

.addButton {
  background-color: #d97d0d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: auto;
}

.gold-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.gold-th {
  border: 2px solid #e3e3e3;
  padding: 8px;
  text-align: left;
  background-color: #fffa9d;
  color: #434343;
}

.gold-td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
}

.updateButton {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

.deleteButton {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

.disabledButton {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f0f0f0;
  color: #888;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  margin-bottom: 4px;
}

.gold-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.backButton {
  padding: 8px 16px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.pageButton {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .gold-title {
    font-size: 20px;
    padding: 8px;
  }
  .gold-th {
    font-size: 16px;
    padding: 10px;
  }
  .gold-td {
    font-size: 16px;
    padding: 10px;
  }

  /* Responsive table styles */
  .gold-table thead {
    display: none;
  }
  

  .gold-table,
  .gold-table tbody,
  .gold-table tr,
  .gold-table td {
    display: block;
    width: 100%;
    font-size: 16px;
  }

  .gold-table tr {
    margin-bottom: 20px;
  }

  .gold-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .gold-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: calc(50% - 30px);
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
  
}

@media only screen and (max-width: 480px) {
  .gold-title {
    font-size: 18px;
    padding: 6px;
  }
  .gold-th {
    font-size: 12px;
    padding: 8px;
  }
  .gold-td {
    font-size: 12px;
    padding: 8px;
  }
}
