/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.pageuser {
  background-image: url('http://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg');
  background-position: center;
}
.header__login {
  background-color: black;
  height: 70px;
  color: white;
  display: flex;
  padding: 0 8%;
  justify-content: space-between;
  align-items: center;
}
.header__login__left,
.header__login__left img {
  width: 100%;
  max-width: 180px;
  height: 70px;
}
.header__login__right_login {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.login-img {
  width: 100%;
  padding: 5% 0 0 10%;
}
.login-input {
  padding: 10% 5%;
}
.login-input h1 {
  margin-left: 30%;
  font-weight: 700;
  font-size: 50px;
}
.login-form {
  background-color: #fff;
}
section {
  display: flex;
  justify-content: center;
}
.img__login1 {
  background-image: url(../../img/logo.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.img__login2 {
  background-image: url(../../img/login.jpg);
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100%;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
}
.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
}
.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}
.sidebar-toggle {
  display: none;
}
.ant-form-item-label > label {
  white-space: nowrap;
}

h1.mb-2 {
  white-space: nowrap;
  margin:auto;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .header__login {
    /* flex-direction: column; */
    align-items: flex-start;
    height: auto;
  }
  .header__login__left,
  .header__login__right_login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
  }
  .header__login__right_login{
    display: none;
  }
  .sidebar-toggle {
    display: inline-block;
    color: white;
    background: none;
    border: none;
    font-size: 24px;
    margin-left: auto;
    justify-self: flex-end;
    margin-bottom: 10px;
  }
  .login-img {
    display: none;
  }
  .login-input {
    padding: 5%;
  }
  .login-input h1 {
    margin-left: 0;
    text-align: center;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .header__login {
    padding: 0 4%;
  }
  .header__login__right_login {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__login__right_login a {
    margin-bottom: 10px;
  }
  .login-input h1 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .header__login {
    padding: 0 2%;
  }
  .header__login__right_login {
    align-items: center;
  }
  .login-input {
    padding: 5% 2%;
  }
  .login-input h1 {
    font-size: 24px;
  }
}
