@tailwind base;
@tailwind components;
@tailwind utilities;

.pageuser{
    background-image: url('http://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg');
    background-position: center;
}
.header__login{
    background-color: black;
    height: 70px;
    color: white;
    display: flex;
    padding: 0 8%;
    justify-content: space-between;
    align-items: center;
}

.header__login__left,
.header__login__left img{
    width: 180px;
    height: 70px;
}
.header__login__right{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.login-img{
    width: 100%;
    padding: 5% 0 0 10%;
}


.login-input{
    padding: 10% 5%;
}

.login-input h1{
    margin-left: 30%;
    font-weight: 700;
    font-size: 50px;
}

.login-form {
    background-color: #fff;
}

section{
    display: flex;
    justify-content: center;
}

.img__login1{
    background-image: url(../../img/logo.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.img__login2{
    background-image: url(../../img/login.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
}