.add-diamond-container {
  display: flex;
  height: calc(70vh); 
  overflow-y: auto;
  max-height: 80vh;
  margin: 30px 20px 20px 20px;
}

.add-diamond-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-diamond-form {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  border: 1px solid #D8BFD8; /* Màu tím nhạt */
  border-radius: 8px;
  background-color: #E6E6FA; /* Màu tím nhạt */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-diamond-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #6A5ACD; /* Màu tím đậm */
}

.add-diamond-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-diamond-form-group {
  flex: 1;
  margin-right: 15px;
}

.add-diamond-form-group:last-child {
  margin-right: 0;
}

.add-diamond-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

.add-diamond-form-group input[type="text"],
.add-diamond-form-group input[type="number"],
.add-diamond-form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #D8BFD8; /* Màu tím nhạt */
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333;
}

.add-diamond-form-group input[type="text"]::placeholder,
.add-diamond-form-group input[type="number"]::placeholder {
  color: #000000;
}

.add-diamond-form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-diamond-back-button {
  padding: 8px 16px;
  background: #E6E6FA; /* Màu tím nhạt */
  border: 1px solid #D8BFD8; /* Màu tím nhạt */
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #6A5ACD; /* Màu tím đậm */
}

.add-diamond-back-button:hover {
  background: #D8BFD8; /* Màu tím nhạt */
}

.add-diamond-add-button {
  padding: 8px 16px;
  background: #D8BFD8; /* Màu tím nhạt */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.add-diamond-add-button:hover {
  background: #B0C4DE; /* Màu tím đậm hơn */
}

.custom-modal .ant-modal-content {
  border-radius: 10px;
  padding: 20px;
  background-color: #E6E6FA; /* Màu tím nhạt */
}

.custom-modal .ant-modal-header {
  border-bottom: none;
}

.custom-modal .ant-modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
}

.custom-modal .ant-modal-footer button {
  background: #D8BFD8; /* Màu tím nhạt */
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
}

.custom-modal .ant-modal-footer button:hover {
  background: #B0C4DE; /* Màu tím đậm hơn */
}

/* Responsive styles */
@media (max-width: 1024px) {
  .add-diamond-title {
    font-size: 18px;
  }
  .add-diamond-form-row {
    flex-direction: row;
  }

  .add-diamond-form-group {
    margin-right: 9px;
    font-size: small;
  }
}

@media (max-width: 480px) {
  .add-diamond-title {
    font-size: 20px;
  }

  .add-diamond-form-group input[type="text"],
  .add-diamond-form-group input[type="number"],
  .add-diamond-form-group select {
    padding: 6px;
  }

  .add-diamond-add-button,
  .add-diamond-back-button {
    font-size: 12px;
    padding: 6px 12px;
    width: auto;
    margin-bottom: 0;
  }
}
