.add-gold-container {
  display: flex;
  height: calc(70vh); 
  margin: 20px 20px 20px 20px;
  overflow-y: auto;
  max-height: 70vh;
}

.add-gold-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-gold-form {
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  border: 10px solid #ffe520;
  border-radius: 7px;
  background-color: #e6c687;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  color: #000000;
}

.add-gold-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-gold-form-group {
  flex: 1;
  margin-right: 15px;
}

.add-gold-form-group:last-child {
  margin-right: 0;
}

.add-gold-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

.add-gold-form-group input[type="text"],
.add-gold-form-group input[type="number"],
.add-gold-form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #FFFACD;
  color: #333;
}

.add-gold-form-group input[type="text"]::placeholder,
.add-gold-form-group input[type="number"]::placeholder {
  color: #000000;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-button {
  padding: 8px 16px;
  background: #FFF8DC;
  border: 1px solid #D4AF37;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16spx;
  text-decoration: none;
  color: #000000;
}

.back-button:hover {
  background: #FFEBCD;
}

.add-gold-button {
  padding: 8px 16px;
  background: #FFD700;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.add-gold-button:hover {
  background: #FFC107;
}

.custom-modal .ant-modal-content {
  border-radius: 10px;
  padding: 20px;
  background-color: #FFF8DC;
}

.custom-modal .ant-modal-header {
  border-bottom: none;
}

.custom-modal .ant-modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
}

.custom-modal .ant-modal-footer button {
  background: #FFD700;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
}

.custom-modal .ant-modal-footer button:hover {
  background: #FFC107;
}
/* Responsive styles */
@media (max-width: 1024px) {
  .add-gold-form-row {
      flex-direction: column;
  }
  .add-gold-form-group {
      margin-right: 0;
      margin-bottom: 2px;
  }

  .form-footer {
      flex-direction: column;
  }

  .add-gold-button {
      width: 20%;
      /* margin-bottom: 10px; */
  }

  .back-button {
      width: 20%;
      margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .form-title {
      font-size: 20px;
  }

  .add-gold-form-group input[type="text"],
  .add-gold-form-group input[type="number"],
  .add-gold-form-group select {
      padding: 6px;
  }

  .add-gold-button,
  .back-button {
      font-size: 12px;
      padding: 6px 12px;
  }
}