.add-jewelry-container {
    display: flex;
    height: calc(70vh); 
    margin-top: 30px;
    overflow-y: auto;
    max-height: 80vh;
  }
  
  .add-jewelry-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-jewelry-form {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-jewelry-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .add-jewelry-form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .add-jewelry-form-group {
    flex: 1;
    margin-right: 15px;
  }
  
  .add-jewelry-form-group:last-child {
    margin-right: 0;
  }
  
  .add-jewelry-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .add-jewelry-form-group input[type="text"],
  .add-jewelry-form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  
  .add-jewelry-form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .add-jewelry-back-button {
    padding: 8px 16px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    color: #333;
  }
  
  .add-jewelry-back-button:hover {
    background: #e0e0e0;
  }
  
  .add-jewelry-add-button {
    padding: 8px 16px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .add-jewelry-add-button:hover {
    background: #0056b3;
  }
  
  .custom-modal .ant-modal-content {
    border-radius: 10px;
    padding: 20px;
  }
  
  .custom-modal .ant-modal-header {
    border-bottom: none;
  }
  
  .custom-modal .ant-modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;
  }
  

