.upgold-container {
  display: flex;
  height: calc(70vh); 
  margin-top: 30px;
  overflow-y: auto;
  max-height: 80vh;
  font-size: 14px; /* Kích thước phông chữ chung */
}

.upgold-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upgold-form {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  border: 1px solid #FFCBA4; /* Màu cam nhạt */
  border-radius: 8px;
  background-color: #FFEFD5; /* Màu cam nhạt */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upgold-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  color: #FF8C00; /* Màu cam đậm */
}

.upgold-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.upgold-form-group {
  flex: 1;
  margin-right: 15px;
}

.upgold-form-group:last-child {
  margin-right: 0;
}

.upgold-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.upgold-form-group input[type="text"],
.upgold-form-group input[type="number"],
.upgold-form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #FFCBA4; /* Màu cam nhạt */
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}
.upgold-static-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #FFCBA4; /* Màu cam nhạt */
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
}

.upgold-form-group input[type="text"]::placeholder,
.upgold-form-group input[type="number"]::placeholder {
  color: #000000;
}

.upgold-form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.upgold-back-button {
  padding: 8px 16px;
  background: #FFEFD5; /* Màu cam nhạt */
  border: 1px solid #FFCBA4; /* Màu cam nhạt */
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #FF8C00; /* Màu cam đậm */
}

.upgold-back-button:hover {
  background: #FFCBA4; /* Màu cam nhạt */
}

.upgold-add-button {
  padding: 8px 16px;
  background: #FFCBA4; /* Màu cam nhạt */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.upgold-add-button:hover {
  background: #f69535; /* Màu cam đậm hơn */
}

.custom-modal-upgold .ant-modal-content {
  border-radius: 10px;
  text-align: center;
  height: 250px;
}

.custom-modal-upgold  .ant-modal-header {
  border-bottom: none;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
}

.custom-modal-upgold  .ant-modal-title {
  font-size: 30px;
}

.custom-modal-upgold  .ant-modal-body {
  padding: 20px;
  font-size: 16px;
}

.custom-modal-upgold  .ant-modal-footer {
  display: none;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .upgold-title {
    font-size: 18px;
  }
  .upgold-form-row {
    flex-direction: row;
  }

  .upgold-form-group {
    margin-right: 9px;
    font-size: small;
  }
}

@media (max-width: 480px) {
  .upgold-title {
    font-size: 20px;
  }

  .upgold-form-group input[type="text"],
  .upgold-form-group input[type="number"],
  .upgold-form-group select {
    padding: 6px;
  }

  .upgold-add-button,
  .upgold-back-button {
    font-size: 12px;
    padding: 6px 12px;
    width: auto;
    margin-bottom: 0;
  }
}
