.detail-page {
  display: flex;
  flex-direction: column;
  margin: 1% 5%;
  max-height: 70vh;
  overflow-y: auto;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-info-section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.image-section {
  display: flex;
  max-width: 300px;
  width: 100%;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.thumbnail {
  cursor: pointer;
  max-width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.main-image {
  max-width: 350px;
  height: 350px;
}

.info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
  position: absolute;
  right: 8%;
  top: 9%;
  margin-top: 30px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.product-name {
  font-size: 30px;
  font-weight: 500;
}

.close-button {
  background: #333;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.close-button:hover {
  background: red;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
}

.price-amount {
  font-size: 45px;
  color: red;
  font-weight: bold;
}

.product-description {
  margin: 10px 0;
}

.description-title {
  font-weight: bold;
}

.product-size-quantity {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-size {
  margin: 20px 0;
}

.size-title {
  font-size: 20px;
  font-weight: bold;
}

.size-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.size-button {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.size-button.selected {
  background-color: black;
  color: white;
}

.available-stock {
  margin-top: 10px;
  font-size: 18px;
}

.product-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quantity-title {
  font-size: 20px;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  margin: 0 5px;
  cursor: pointer;
}

.quantity-input {
  width: 50px;
  text-align: center;
  border: 1px solid #000;
}

.add-to-cart-button {
  background: red;
  color: #fff;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.product-information {
  margin-top: 3px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .main-section {
    flex-direction: column;
    align-items: center;
  }

  .image-info-section {
    align-items: center;
  }

  .image-section {
    flex-direction: column;
    align-items: center;
  }

  .thumbnail-images {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .thumbnail {
    margin-right: 10px;
  }

  .main-image {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }

  .info-section {
    align-items: center;
    text-align: center;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 20px;
  }

  .product-header {
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }

  .product-name {
    margin-bottom: 10px;
  }

  .close-button {
    margin-top: 10px;
  }

  .product-description, .product-size, .product-quantity {
    text-align: center;
  }

  .product-size-quantity {
    flex-direction: column;
  }

  .add-to-cart-button {
    align-self: center;
  }
  .product-information {
    margin-top: 3px;
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-section {
    flex-direction: column;
    align-items: center;
  }

  .image-info-section {
    align-items: center;
  }

  .thumbnail-images {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .thumbnail {
    margin-right: 10px;
  }

  .main-image {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }

  .info-section {
    align-items: center;
    text-align: center;
  }

  .product-header {
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }

  .product-name {
    margin-bottom: 10px;
  }

  .close-button {
    margin-top: 10px;
  }

  .product-description, .product-size, .product-quantity {
    text-align: center;
  }

  .product-size-quantity {
    flex-direction: column;
  }

  .add-to-cart-button {
    align-self: center;
  }
  .product-information {
    margin-top: 3px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .detail-page {
    margin: 1% 2%;
    max-height: none;
    max-height: 70vh;
    overflow-y: auto;
  }

  .info-section {
    padding: 10px;
    /* position: static; */
    margin-top: 0px;
  }

  .main-section {
    flex-direction: column;
    align-items: center;
  }

  .image-info-section {
    margin-right: 0;
    align-items: center;
  }

  .image-section {
    flex-direction: column;
    align-items: center;
  }

  .thumbnail-images {
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
  }

  .thumbnail {
    margin-right: 10px;
    max-width: 80px;
    height: 80px;
  }

  .main-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  .product-header {
    flex-direction: column;
    align-items: center;
  }

  .product-name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .product-price {
    font-size: 18px;
  }

  .price-amount {
    font-size: 25px;
  }

  .product-description, .product-size, .product-quantity {
    text-align: center;
  }

  .product-size-quantity {
    flex-direction: column;
    align-items: center;
  }

  .add-to-cart-button {
    width: 100%;
    max-width: 100px;
    margin-top: 20px;
  }
  .product-information {
    margin-top: 3px;
    font-size: 20px;
    margin: auto;
    margin-left: 20px;
  }
}
