.container-gold {
    margin: 20px auto;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .header-setting-gold-price {
    background-color: rgb(255, 234, 99);
    color: #3b3b3b;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  .td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 16px;
  }
  
  .rowEven {
    background-color: #f9f9f9;
  }
  
  .rowOdd {
    background-color: #fff;
  }

  .table tr{
    transition: 0.3s;
  }

  .table tr:hover{
    background-color: #ccc;
    cursor: pointer;
  }
  
  .btnBack {
    background-color: #000;
    color: white;
    margin: 0 0 6px 0;
    padding: 4px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px; 
  }
  .btnBack-diamond {
    background-color: #000;
    color: white;
    margin: 10px 0 6px 0;
    padding: 4px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px; 
  }
  .btnBack:hover {
    background-color: #ccc;
    color: #000;
  }

  .btnCreate{
    background-color: rgb(40, 216, 40);
    color: white;
    margin: 0 0 6px 0;
    padding: 4px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 4%;
    padding: 10px 20px;
  }

  .btnCreate:hover{
    opacity: 0.6;
  }
  
  .selectMaterial-gold{
    border-radius: 5px;
    padding: 4px 6px;
    border: 1px solid;
    margin: 10px auto;
  }
  .selectMaterial-diamond{
    border-radius: 5px;
    padding: 4px 6px;
    border: 1px solid;
    margin-bottom: 10px;
  }

  .selectMaterial:hover{
    background-color: #ccc;
    cursor: pointer;
  }

  .highlight {
    background-color: yellow;
  }