.filter select{
    margin-left: 10px;
    border: solid 1px;
    border-radius: 10px;
}

.filter .search__input{
    position: absolute;
    right: 0;
    margin-right: 28px;
}

.list__products{
    width: 1321.710px;
    max-height: 467px;
    right: 0;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-evenly;
}

.list__products .card{
    margin-left: 10px;
    margin-bottom: 6px;
}
