.filter select{
    margin-left: 10px;
    border: solid 1px;
    border-radius: 10px;
}

.filter .search__input{
    position: absolute;
    right: 0;
    margin-right: 28px;
}

.list__products .card{
    margin-left: 0px;
    margin-bottom: 0px;
}
